<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Project Suite">
  
  <!--
  <test name="RegisterTest">
    <classes>
      <class name="com.testingfoo.testcases.RegisterTestCase"/>
    </classes>
  </test> -->
  
  <test name="LoginTest">
    <classes>
      <class name="com.testingfoo.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
